<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
    <add key="CategorizationModel" value="C:\Work\FirstDemos\CategorizerDemo\App_Data\model.bin"/>
    <add key="EntityRecognitionOntologies" value="C:\Work\AchimPipe\Ontology"/>
    <add key="HtmlOutputFolder" value="C:\Work\AchimPipe\Html"/>
    <!-- ZeroMQ settings -->
    <add key="ID" value="1"/>
    <add key="ReceiverNumber" value="1"/>
    <add key="ProducerNumber" value="1"/>
    <add key="MessageReceiveAddress" value="tcp://127.0.0.1:5557"/>
    <add key="SendLoadBalancingAddress" value="tcp://127.0.0.1:5559"/>
    <add key="FinishReceive" value="tcp://127.0.0.1:5550"/>
    <!--<add key="MessageSendAddress" value="tcp://127.0.0.1:5557" />
    <add key="ReceiveLoadBalancingAdress" value="tcp://127.0.0.1:5558" />
    <add key="FinishPublish" value="tcp://127.0.0.1:5550" />-->
    <!-- 0=Pipeline, 1=Request and Reply-->
    <add key="MessagingType" value="0"/>
    <add key="MAX_QUEUE_SIZE" value="10000"/>
    <add key="MIN_QUEUE_SIZE" value="1"/>
    <add key="IGNORE_QUEUE_OVERFLOW" value="1"/>
    <add key="Broker" value="0"/>
    <add key="ACTIVEMQ" value="tcp://localhost:61616"/>
    <add key="WAIT_COMMAND" value="WAIT"/>
    <add key="FINISH_COMMAND" value="FINISH"/>
    <add key="CONTINUE_COMMAND" value="CONTINUE"/>
    <add key="MESSAGE_REQUEST" value="R"/>
    <add key="RECEIVE_COMMAND_FILTER" value=""/>
    <add key="QueueName" value="WP3_QUEUE"/>
    <add key="InFileStorageAddress" value="inMessageStorage"/>
    <add key="OutFileStorageAddress" value="outMessageStorage"/>
    <add key="MAX_FILE_STORAGE_SIZE" value="1000"/>
    <add key="DBLoggingReceiver" value="tcp://*:5561"/>
    <add key="DB_LOGGING" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs/messenger.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
</configuration>
